<div class="login-container">
    <input type="text" placeholder="E-Mail" id="email" />
    <input type="text" placeholder="Contraseña" id="password" />
    <button id="login-btn">Login</button>
</div>