<div class="containerForm">
    <input type="text" placeholder="Nombre" id="first_name"/>
    <input type="text" placeholder="Apellido" id="last_name"/>
    <input type="text" placeholder="E-Mail" id="email"/>
    <input type="text" placeholder="Edad" id="age"/>
    <input type="text" placeholder="Contraseña" id="password"/>
    <button id="signup">Enviar</button>
</div>