body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(194, 182, 162);
}

h1 {
    text-align: center;
}

div div {
    background-color: rgb(218, 215, 215);
    padding: 0.5rem;
    margin-top: 0.5rem;
}