<div class='container'>
    <form action='/api/sessions/login' method='GET'>
        <button>Login</button>
    </form>
    <form action='/api/sessions/register' method='GET'>
        <button>Registro</button>
    </form>
    <form action='/api/sessions/profile' method='GET'>
        <button>Perfil</button>
    </form>
</div>